version: '3.7'

services:
  api-money-plus:
    container_name: api-money-plus
    image: node:18-alpine3.20
    working_dir: /application
    ports:
      - "3005:3005"
      - "9229:9229"
    volumes:
      - ./app:/application
    env_file:
      - .env
    networks:
      - net_api_money_plus
    command: [ "yarn", "dev" ]

networks:
  net_api_money_plus:
    external: true
